/*font link*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
/*common start*/
body{
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #898989;
}
/*common end*/
/*header start*/
header{
	padding: 20px 0;
	background-color: #fcdb00;
}
.c_nav{}
.logo{}
.menu{}
.menu ul li a{
	font-size: 22px;
	font-weight: 700;
	color: #010101;
	padding: 0 30px !important;
}
.menu ul li:last-child a{
	padding-right: 0 !important;
}
.menu ul li a:hover{
	color: white !important;
}
/*header end*/